<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nexters.moodumdum">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.StatusBar"
        android:configChanges="orientation|screenSize">

        <activity android:name=".SplashActivity"></activity>
        <activity android:name=".MainActivity"
             android:theme="@style/AppThemeTransparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Mypage" />
        <activity android:name=".CategoryActivity"/>
        <activity
            android:name=".PlusActivity"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".NameEditActivity"/>
        <activity android:name=".PlusBackimgActivity"
            android:theme="@style/AppThemeTransparent"/>
        <activity android:name=".CategorySelectedActivityRV"/>
        <activity android:name=".DetailContentsActivity"
            android:theme="@style/Theme.AppCompat.Translucent"
            android:windowSoftInputMode="adjustPan">
            <!--android:theme="@style/Theme.AppCompat.Translucent">-->

        </activity>
        <!--<activity android:name=".DetailContentsActivity"-->
            <!--android:windowSoftInputMode="stateAlwaysHidden|adjustResize"-->
            <!--android:theme="@style/AppThemeTransitions">-->
            <!--&lt;!&ndash;android:theme="@style/Theme.AppCompat.Translucent">&ndash;&gt;-->

        <!--</activity>-->
    </application>

</manifest>